{% extends 'base.html' %}

{% block title %}Masalas & Podis | Andhra Sweets{% endblock %}

{% block content %}

{% if banner %}
<div class="page-banner">
    <img src="{{ banner.images.url }}" alt="{{ banner.alt_text }}">

</div>
{% endif %}

<div class="pickles-container">

    <h1 class="main-title">🌶 Andhra Masala's Podi Collection </h1>
    <p class="sub-title">Choose your favourite Item</p>
    <p class="sub-title">Homemade | Authentic | Traditional Taste</p>


    <!-- ====================masalas_podi cards code ============================ -->

    <div class="pickles-grid">
    {% for item in podis %}
    <div class="pickle-card">
        <div class="img-box">
            <img src="{{ item.image.url }}">
            <span class="price-tag">₹{{ item.price }}</span>
        </div>
        <h4>{{ item.name }}</h4>
        <p>{{ item.telugu_name }}</p>
        <button class="add-btn"><a href="{% url 'product_detail' item.id %}" class="remove-btn">View Product</a></button>
        <!-- <a href="{% url 'product_detail' item.id %}" >View</a> -->
    </div>
    {% empty %}
    <p class="no-data">No masalas_podi available.</p>
    {% endfor %}
</div>


{% endblock %}

















